/* Font families */
$roboto: 'Roboto', sans-serif;
/* Body colors */
$body_bg_color: #fdfdfd;

/* Main colors */
$red: #db2727;
$green: #608e2d;
$dark_black: #222222;
$light_black: #333333;
$white: #ffffff;
$black: #000000;
$selection_bg_color: $red;
$selection_text_color: $white;